@font-face {
  font-family: Inter;
  src: url(../assets/fonts/static/Inter-regular.ttf);
}

* {
  font-family: "Inter";
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: hsl(36, 100%, 99%);
}

h1, h2, p {
  cursor: default;
}