nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 50px 20px;
  font-size: 0.9rem;
  color: hsl(236, 13%, 42%);
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

nav li:hover {
  color: hsl(5, 85%, 63%);
}

nav img {
  width: 60px;
  height: 40px;
}

.mobile-nav {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  background-color: hsl(36, 100%, 99%);
  padding-top: 100px;

  li {
    margin-left: -10px;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  width: 35px;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 50px;
}

.cross {
  display: none;
  cursor: pointer;
}

.cross i {
  width: 35px;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
  z-index: 5;
}

.cross i:nth-child(2) {
  transform: rotate(135deg);
}

.hamburger i:nth-child(2) {
  margin-top: 7px;
}

.hamburger i:nth-child(3) {
  margin-top: 14px;
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .desktop-nav {
    visibility: hidden;
  }
}
