nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 50px 20px;
    font-size: 0.9rem;
    color: hsl(236, 13%, 42%);
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

nav li:hover {
color: hsl(5, 85%, 63%);
}

nav img {
    width: 60px;
    height: 40px;
}

.mobile-nav {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 60%;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    padding-top: 100px;

    li {
  margin-left: -10px;
    }
}