@font-face {
  font-family: Inter;
  src: url(../assets/fonts/static/Inter-regular.ttf);
}
* {
  font-family: "Inter";
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: hsl(36deg, 100%, 99%);
}

h1, h2, p {
  cursor: default;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 50px 20px;
  font-size: 0.9rem;
  color: hsl(236deg, 13%, 42%);
}
nav li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
nav li:hover {
  color: hsl(5deg, 85%, 63%);
}
nav img {
  width: 60px;
  height: 40px;
}

.mobile-nav {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  background-color: hsl(36deg, 100%, 99%);
  padding-top: 100px;
}
.mobile-nav li {
  margin-left: -10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger i {
  width: 35px;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 50px;
}
.hamburger i:nth-child(2) {
  margin-top: 7px;
}
.hamburger i:nth-child(3) {
  margin-top: 14px;
}

.cross {
  display: none;
  cursor: pointer;
}
.cross i {
  width: 35px;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
  z-index: 5;
}
.cross i:nth-child(2) {
  transform: rotate(135deg);
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .desktop-nav {
    visibility: hidden;
  }
}
.container {
  display: grid;
  gap: 30px;
  grid-template-areas: "top top right" "bottom1 bottom2 bottom3";
}

img {
  width: 100%;
}

button {
  border-style: none;
  background-color: hsl(5deg, 85%, 63%);
  color: white;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  margin-top: -30px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.main-article {
  display: grid;
  gap: 20px;
  grid-template-areas: "img img" "title right" "title button";
}
.main-article h1 {
  font-size: 3.2rem;
  margin-top: 0;
  font-weight: 800;
}
.main-article p {
  font-size: 1rem;
  color: hsl(236deg, 13%, 42%);
}

.side-article {
  background-color: black;
  color: white;
  padding: 20px;
}
.side-article h1 {
  color: hsl(35deg, 77%, 62%);
}
.side-article h2 {
  font-size: 1rem;
  margin-top: 25px;
  cursor: pointer;
}
.side-article h2:hover {
  color: hsl(35deg, 77%, 62%);
}
.side-article p {
  color: hsl(236deg, 13%, 42%);
  font-size: 0.9rem;
  margin-bottom: 25px;
}
.side-article hr {
  border-color: hsl(236deg, 13%, 42%);
}

.bottom-article {
  display: grid;
  gap: 15px;
  grid-template-areas: "img number" "img title" "img description";
  margin-top: 20px;
  margin-bottom: 50px;
  height: 150px;
}
.bottom-article img {
  height: 100%;
}
.bottom-article h1,
.bottom-article h2,
.bottom-article p {
  margin: 0;
}
.bottom-article h1 {
  color: hsl(233deg, 8%, 79%);
}
.bottom-article h2 {
  font-size: 1rem;
  margin-top: -20px;
  cursor: pointer;
}
.bottom-article h2:hover {
  color: hsl(5deg, 85%, 63%);
}
.bottom-article p {
  font-size: 0.8rem;
  margin-top: -20px;
  color: hsl(236deg, 13%, 42%);
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-areas: "top" "right" "bottom";
  }
  .main-article {
    grid-template-areas: "img" "title" "right" "button";
    margin-bottom: 10px;
  }
  .main-article p {
    margin-top: -50px;
  }
}/*# sourceMappingURL=style.css.map */